body {
    background-color: darkgray;
}

img {
    width: 40%;
}

p {
    margin: 2%;
}

.title {
    display: flex;
    flex-direction: column;
    background-color: coral;
    box-shadow: 0 0 20px black;
    align-items: center;
}

h2 {
    width: 40%;
}

ul li {
    color: brown;
    list-style: none;
}

.list {
    display: flex;
    align-items: center;
    flex-direction: column;
}